# The PyCharm IDE
.idea/
*.iml

# Python cache
__pycache__
dj_bot/__pycache__

# Virtual environment
bin
lib
pyvenv.cfg
venv

# ffmpeg binaries
dj_bot/ffmpeg/

# The app file to ignore
config.py
DJ_Bot.log
.song_cache
.songs